<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            name="WizardTranslation"
            application="org.eclipse.e4.ui.workbench.swt.E4Application">
         <property
               name="appName"
               value="jface_translation">
         </property>
      </product>
   </extension>
   <extension
         id="jface_translation"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.e4.ui.workbench.swt.E4Application"
            name="WizardTranslation">
         <property
               name="appName"
               value="WizardTranslation">
         </property>
      </product>
   </extension>

</plugin>
