<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="simplee3app.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Perspective"
            class="simplee3app.Perspective"
            id="SimpleE3App.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            name="View"
            class="simplee3app.View"
            id="SimpleE3App.view">
      </view>
      <view
            class="simplee3app.View2"
            id="com.vogella.eclipse.e3.coreexpression.view1"
            name="Parts2"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <view
               standalone="true"
               minimized="false"
               relative="org.eclipse.ui.editorss"
               relationship="left"
               id="SimpleE3App.view">
         </view>
         <view
               id="com.vogella.eclipse.e3.coreexpression.view1"
               minimized="false"
               relationship="right"
               relative="org.eclipse.ui.editorss"
               standalone="false">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               label="File">
            <command
                  commandId="org.eclipse.ui.file.exit"
                  label="Exit">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="oneElementSelected">
         <with
               variable="selection">
            <count
                  value="1">
            </count>
         </with>
      </definition>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="com.vogella.eclipse.e3.coreexpression.toolbar4">
            <command
                  commandId="org.eclipse.ui.file.exit"
                  label="Exit visible"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.file.exit"
                  label="Exit hidden"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <reference
                        definitionId="oneElementSelected">
                  </reference>
               </visibleWhen>
            </command>
            <command
                  commandId="com.vogella.eclipse.e3.coreexpression.command5"
                  label="Source Provider"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="com.example.someVariable">
                     <equals
                           value="someValue2">
                     </equals>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="org.eclipse.ui.file.exit"
                  label="Exit visible per perspective"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <test
                        forcePluginActivation="true"
                        property="com.vogella.isEnabled">
                  </test>
               </visibleWhen>
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.services">
      <sourceProvider
            provider="com.vogella.eclipse.e3.coreexpression.AbstractSourceProvider">
         <variable
               name="mysources"
               priorityLevel="workbench">
         </variable>
      </sourceProvider>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="com.vogella.eclipse.e3.coreexpression.PropertyTester2"
            id="lars"
            namespace="com.vogella"
            properties="isEnabled"
            type="java.lang.Object">
      </propertyTester>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="isPerspectiveInstance">
         <with
               variable="org.eclipse.e4.ui.model.application.ui.advanced.MPerspective">
            <instanceof
                  value="org.eclipse.e4.ui.model.application.ui.advanced.MPerspective">
            </instanceof>
         </with>
      </definition>
   </extension>

</plugin>
