<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.vogella.rcp.editor.example.editor.TaskEditor"
            default="false"
            id="com.vogella.rcp.editor.example.editor.taskeditor"
            name="Task Editor">
      </editor>
      <editor
            class="com.vogella.rcp.editor.example.editor.text.TaskTextEditor"
            default="false"
            extensions="task"
            id="com.vogella.rcp.editor.example.editor.tasktexteditor"
            name="Task Text Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="com.vogella.rcp.editor.example.parts.TaskOverview"
            id="com.vogella.rcp.editor.example.taskoverview"
            name="Task Overview"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="com.vogella.rcp.editor.example.handler.CallEditor"
            id="com.vogella.rcp.editor.example.openEditor"
            name="Open Task Editor">
      </command>
   </extension>

</plugin>
