<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.commands">
      <category
            name="Sample Category"
            id="testing.commands.category">
      </category>
      <command
            name="Sample Command"
            categoryId="testing.commands.category"
            id="testing.commands.sampleCommand">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="testing.commands.sampleCommand"
            class="testing.handlers.SampleHandler">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="testing.commands.sampleCommand"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+6"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               label="Sample Menu"
               mnemonic="M"
               id="testing.menus.sampleMenu">
            <command
                  commandId="testing.commands.sampleCommand"
                  mnemonic="S"
                  id="testing.menus.sampleCommand">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="testing.toolbars.sampleToolbar">
            <command
                  commandId="testing.commands.sampleCommand"
                  icon="icons/sample.gif"
                  tooltip="Say hello world"
                  id="testing.toolbars.sampleCommand">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="testing.actionSet"
            label="Quick Access search"
            visible="true">
         <action
               class="testing.actions.TriggerQuickAccessAction"
               id="testing.actions.SampleAction"
               label="&amp;Sample Action"
               menubarPath="org.eclipse.search.menu/extraSearchGroup"
               toolbarPath="sampleGroup"
               tooltip="Hello, Eclipse world">
         </action>
         <action
               class="testing.actions.TriggerQuickAccessAction"
               id="testing.actions.SampleAction2"
               label="Find Commands..."
               menubarPath="org.eclipse.search.menu/extraSearchGroup"
               toolbarPath="sampleGroup"
               tooltip="Hello, Eclipse world">
         </action>
      </actionSet>
   </extension>

</plugin>
