<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.e4.ui.workbench.swt.E4Application"
            name="com.vogella.css.fonts">
         <property
               name="lifeCycleURI"
               value="bundleclass://com.vogella.css.fonts/com.vogella.css.fonts.LifeCycle">
         </property>
         <property
               name="applicationCSS"
               value="platform:/plugin/com.vogella.css.fonts/css/default.css">
         </property>
      </product>
   </extension>

</plugin>
